
.group-9,
.group-9 * {
  box-sizing: border-box;
}
.div {
  color: #771717;
  text-align: left;
  font-family: "TtTravelsNextTrialVariable-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 105px;
  top: 79px;
}
.div2 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 229px;
  top: 398px;
}
.div3 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 622px;
  top: 398px;
}
.div4 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 626px;
  top: 713px;
}
.div5 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 242px;
  top: 713px;
}
.div6 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1045px;
  top: 713px;
}
.div7 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 983px;
  top: 398px;
}
.div8 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1146px;
  top: 93px;
}
.div9 {
  color: #771717;
  text-align: center;
  font-family: "TtTravelsNextTrl-Rg", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 1040px;
  top: 750px;
}
.div10 {
  color: #771717;
  text-align: center;
  font-family: "TtTravelsNextTrl-Rg", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 266px;
  top: 748px;
}
.div11 {
  color: #771717;
  text-align: center;
  font-family: "TtTravelsNextTrl-Rg", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 646px;
  top: 748px;
}
.div12 {
  color: #771717;
  text-align: center;
  font-family: "TtTravelsNextTrl-Rg", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 266px;
  top: 437px;
}
.div13 {
  color: #771717;
  text-align: center;
  font-family: "TtTravelsNextTrl-Rg", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 646px;
  top: 437px;
}
.div14 {
  color: #771717;
  text-align: center;
  font-family: "TtTravelsNextTrl-Rg", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 1052px;
  top: 437px;
}
.div15 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 845px;
  top: 683px;
  width: 234px;
  height: 50px;
}
.div16 {
  color: #ffffff;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 89px;
  top: 199px;
}
.div17 {
  color: #7d2020;
  text-align: left;
  font-family: "TtTravelsNextTrl-Rg", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 94px;
  top: 93px;
}
.div18 {
  color: #000000;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 94px;
  top: 197px;
  width: 362px;
  height: 406px;
}
.div19 {
  color: #fcf5e8;
  text-align: left;
  font-family: "TtTravelsNextTrl-Rg", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 494px;
  top: 51px;
  width: 525px;
  height: 47px;
}
.div20 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 238px);
  top: 481px;
}
.div21 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -123px);
  top: 492px;
}
.div22 {
  color: #771717;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -430px);
  top: 492px;
}
.div23 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 637px;
  top: 658px;
  width: 344px;
  height: 91px;
}
.div24 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 115px;
  top: 487px;
}
.div25 {
  color: #000000;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 610px;
  top: 119px;
}
.div26 {
  color: #000000;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 762px;
  top: 119px;
}
.div27 {
  color: #771717;
  text-align: center;
  font-family: "TtTravelsNextTrialVariable-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 143px;
  top: 314px;
  width: 535px;
  height: 348px;
}
.div28 {
  color: #000000;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 475px;
  top: 119px;
}
.div29 {
  color: #000000;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 908px;
  top: 119px;
}
.frame-1 {
  background: #fcf5e8;
  width: 1440px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame-2 {
  background: #771717;
  width: 1440px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 800px;
  overflow: hidden;
}
.frame-3 {
  background: #fcf5e8;
  width: 1440px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 1600px;
  overflow: hidden;
}
.frame-4 {
  background: #771717;
  width: 1440px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 2400px;
  overflow: hidden;
}
.frame-5 {
  background: #fcf5e8;
  width: 1440px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 3200px;
  overflow: hidden;
}
.frame-6 {
  background: #771717;
  width: 1440px;
  height: 294px;
  position: absolute;
  left: 0px;
  top: 4000px;
  overflow: hidden;
}
.rectangle-5 {
  background: #fcf5e8;
  border-radius: 55px;
  width: 318px;
  height: 449px;
  position: absolute;
  left: 1090px;
  top: 155px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-6 {
  background: #fcf5e8;
  border-radius: 55px;
  width: 318px;
  height: 449px;
  position: absolute;
  left: 738px;
  top: 155px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-7 {
  background: #fcf5e8;
  border-radius: 55px;
  width: 318px;
  height: 449px;
  position: absolute;
  left: 386px;
  top: 155px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-8 {
  background: #fcf5e8;
  border-radius: 55px;
  width: 318px;
  height: 449px;
  position: absolute;
  left: 34px;
  top: 155px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-17 {
  background: #771717;
  width: 1440px;
  height: 97px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-21 {
  background: #fcf5e8;
  border-radius: 50px;
  width: 335px;
  height: 52px;
  position: absolute;
  left: 557px;
  top: 658px;
}
.rectangle-23 {
  width: 215px;
  height: 32px;
  position: absolute;
  left: 442px;
  top: 535px;
  overflow: visible;
}
.rectangle-24 {
  background: #fcf5e8;
  border-radius: 50px;
  width: 349px;
  height: 52px;
  position: absolute;
  left: 787px;
  top: 681px;
}
.rectangle-25 {
  background: rgba(217,217,217,0); 
  border-radius:50px; 
  border-style:solid; 
  border-color:#771717; 
  border-width:2px; 
  width:238px; 
  height:59px; 
  position:absolute; 
  left:1105px; 
  top:87px; 
}
.rectangle-232 {
  width: 215px;
  height: 32px;
  position: absolute;
  left: 790px;
  top: 535px;
  overflow: visible;
}
.rectangle-233 {
  width: 215px;
  height: 32px;
  position: absolute;
  left: 1141px;
  top: 535px;
  overflow: visible;
}
.rectangle-234 {
  width: 215px;
  height: 32px;
  position: absolute;
  left: 90px;
  top: 535px;
  overflow: visible;
}
._1 {
  width: 882px;
  height: 296px;
  position: absolute;
  left: -119px;
  top: -13px;
  object-fit: cover;
}
._1-1 {
  width: 725px;
  height: 1160px;
  position: absolute;
  left: 1196.66px;
  top: -564.28px;
  transform-origin: 0 0;
  transform: rotate(38.41deg) scale(1, 1);
  object-fit: cover;
}
._1-3 {
  width: 725px;
  height: 1160px;
  position: absolute;
  left: -55px;
  top: 616.99px;
  transform-origin: 0 0;
  transform: rotate(-28.235deg) scale(1, 1);
  object-fit: cover;
}
._1-12 {
  width: 449.49px;
  height: 910.48px;
  position: absolute;
  left: 498.65px;
  top: 541.21px;
  transform-origin: 0 0;
  transform: rotate(167.301deg) scale(1, 1);
  object-fit: cover;
}
._2 {
  width: 855px;
  height: 1200px;
  position: absolute;
  left: 126px;
  top: -364px;
  object-fit: cover;
}
._2-1 {
  width: 572.36px;
  height: 871.26px;
  position: absolute;
  left: 851px;
  top: -20.89px;
  transform: translate(0px, 20.89px);
  overflow: visible;
  object-fit: cover;
}
._2-12 {
  width: 67px;
  height: 95px;
  position: absolute;
  left: 1321px;
  top: 0px;
  object-fit: cover;
}
._3 {
  width: 846px;
  height: 1197px;
  position: absolute;
  left: 244px;
  top: -400px;
  object-fit: cover;
}
._3-1 {
  width: 635.14px;
  height: 897.64px;
  position: absolute;
  left: 1092.1px;
  top: 393.65px;
  transform-origin: 0 0;
  transform: rotate(90.042deg) scale(1, 1);
  object-fit: cover;
}
._4 {
  width: 832px;
  height: 482px;
  position: absolute;
  left: 603px;
  top: 74px;
  object-fit: cover;
}
._4-1 {
  width: 478.94px;
  height: 789.24px;
  position: absolute;
  left: 1007.3px;
  top: 494.01px;
  transform-origin: 0 0;
  transform: rotate(-90.515deg) scale(1, 1);
  object-fit: cover;
}
._5-2 {
  width: 387.17px;
  height: 842.67px;
  position: absolute;
  left: -461.84px;
  top: 1083.71px;
  transform: translate(461.84px, -426.63px);
  overflow: visible;
  object-fit: cover;
}
._5-3 {
  width: 534.55px;
  height: 1326.41px;
  position: absolute;
  left: 1284.07px;
  top: 1324.55px;
  transform-origin: 0 0;
  transform: rotate(-151.794deg) scale(1, 1);
  object-fit: cover;
}
._5-4 {
  width: 512.83px;
  height: 1233.11px;
  position: absolute;
  left: -81.23px;
  top: -560px;
  transform-origin: 0 0;
  transform: rotate(8.336deg) scale(1, 1);
  object-fit: cover;
}
._5-22 {
  width: 416.98px;
  height: 1233.11px;
  position: absolute;
  left: -632.95px;
  top: 1135.63px;
  transform-origin: 0 0;
  transform: rotate(-99.392deg) scale(1, 1);
  object-fit: cover;
}
._5-23 {
  width: 416.98px;
  height: 1233.11px;
  position: absolute;
  left: 716.43px;
  top: 839.98px;
  transform-origin: 0 0;
  transform: rotate(-137.297deg) scale(1, 1);
  object-fit: cover;
}
._5-32 {
  width: 512.83px;
  height: 1233.11px;
  position: absolute;
  left: -596px;
  top: 579.84px;
  transform-origin: 0 0;
  transform: rotate(-62.732deg) scale(1, 1);
  object-fit: cover;
}
._5-33 {
  width: 374.54px;
  height: 1236.78px;
  position: absolute;
  left: 1630.69px;
  top: -93.14px;
  transform-origin: 0 0;
  transform: rotate(102.22deg) scale(1, 1);
  object-fit: cover;
}
._5-34 {
  width: 416.98px;
  height: 1233.11px;
  position: absolute;
  left: -602px;
  top: 419.05px;
  transform-origin: 0 0;
  transform: rotate(-55.114deg) scale(1, 1);
  object-fit: cover;
}
._12 {
  width: 356.7px;
  height: 332.16px;
  position: absolute;
  left: 578.17px;
  top: 117.91px;
  transform-origin: 0 0;
  transform: rotate(11.452deg) scale(1, 1);
  object-fit: cover;
}
._13 {
  width: 442px;
  height: 281px;
  position: absolute;
  left: 67px;
  top: 206px;
  object-fit: cover;
}
._14 {
  width: 241px;
  height: 339px;
  position: absolute;
  left: 983px;
  top: 146px;
  object-fit: cover;
}
._15 {
  width: 480px;
  height: 283px;
  position: absolute;
  left: 105px;
  top: 451px;
  object-fit: cover;
}
._16 {
  width: 614px;
  height: 301px;
  position: absolute;
  left: 392px;
  top: 475px;
  object-fit: cover;
}
._17 {
  width: 576px;
  height: 334px;
  position: absolute;
  left: 805px;
  top: 451px;
  object-fit: cover;
}
._18 {
  width: 853px;
  height: 1190px;
  position: absolute;
  left: 0px;
  top: -280px;
  object-fit: cover;
}
._19 {
  width: 43px;
  height: 48px;
  position: absolute;
  left: 1281px;
  top: 25px;
  object-fit: cover;
}
._22 {
  color: #ffffff;
  text-align: center;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 980px;
  top: 113px;
}
._110 {
  width: 1441.51px;
  height: 1584.77px;
  position: absolute;
  left: 237px;
  top: -70.43px;
  transform-origin: 0 0;
  transform: rotate(-11.994deg) scale(1, 1);
  object-fit: cover;
}
._111 {
  width: 468px;
  height: 228px;
  position: absolute;
  left: 504px;
  top: -75px;
  object-fit: cover;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fcf5e8;
  border-width: 1px 0 0 0;
  width: 32px;
  height: 0px;
  position: absolute;
  left: 60px;
  top: 39px;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fcf5e8;
  border-width: 1px 0 0 0;
  width: 32px;
  height: 0px;
  position: absolute;
  left: 60px;
  top: 50px;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fcf5e8;
  border-width: 1px 0 0 0;
  width: 32px;
  height: 0px;
  position: absolute;
  left: 60px;
  top: 61px;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 32px;
  height: 0px;
  position: absolute;
  left: 549px;
  top: 535px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 3380px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-10 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 3681.4px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-11 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 654px;
  height: 0px;
  position: absolute;
  left: 898px;
  top: 3380px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-12 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 654px;
  height: 0px;
  position: absolute;
  left: 508px;
  top: 3380px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-15 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 654px;
  height: 0px;
  position: absolute;
  left: 1303px;
  top: 3380px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-16 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 654px;
  height: 0px;
  position: absolute;
  left: 152px;
  top: 3380px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-52 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 32px;
  height: 0px;
  position: absolute;
  left: 897px;
  top: 535px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-53 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 32px;
  height: 0px;
  position: absolute;
  left: 1248px;
  top: 535px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-54 {
  margin-top: -1px;
  border-style: solid;
  border-color: #771717;
  border-width: 1px 0 0 0;
  width: 32px;
  height: 0px;
  position: absolute;
  left: 197px;
  top: 535px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.group-1 {
  height: auto;
  position: absolute;
  left: 1242px;
  top: 36px;
  overflow: visible;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.group-7 {
  position: absolute;
  inset: 0;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.group-9 {
  height: 4294px;
  position: relative;
}
.add-to-cart {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 561px;
  top: 541px;
}
.add-to-cart2 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 909px;
  top: 541px;
}
.add-to-cart3 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1260px;
  top: 541px;
}
.add-to-cart4 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 209px;
  top: 541px;
}
._50-00 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 467px;
  top: 541px;
}
._50-002 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 815px;
  top: 541px;
}
._50-003 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1166px;
  top: 541px;
}
._50-004 {
  color: #771717;
  text-align: left;
  font-family: "CenturyGothic-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 115px;
  top: 541px;
}
._7-999-456-67-76 {
   color: #ffffff; 
   text-align: center; 
   font-family: "CenturyGothic-Regular", sans-serif; 
   font-size:24px; 
   font-weight:400; 
   position:absolute; 
   left:652px; 
   top:113px; 
}
._7-999-894-34-23 {
   color:#ffffff; 
   text-align:center; 
   font-family:"CenturyGothic-Regular", sans-serif; 
   font-size:24px; 
   font-weight:400; 
   position:absolute; 
   left:779px; 
   top:162px; 
}
.so-vkusom {
   color:#ffffff; 
   text-align:center; 
   font-family:"CenturyGothic-Regular", sans-serif; 
   font-size:24px; 
   font-weight:400; 
   position:absolute; 
   left:1044px; 
   top:162px; 
}
.c {
  color: #ffffff;
  text-align: left;
  font-family: "TtTravelsNextTrialVariable-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 89px;
  top: 74px;
  width: 1167px;
  height: 221px;
}
.dg-z-ay-dp-8-ai-1 {
  border-radius: 55px;
  width: 774px;
  height: 404px;
  position: absolute;
  left: 561px;
  top: 256px;
  object-fit: cover;
}
._9-c-ds-wbp-og-p-1 {
  border-radius: 55px;
  width: 363px;
  height: 282px;
  position: absolute;
  left: 945px;
  top: 432px;
  object-fit: cover;
}
._5301193823701036257-1 {
  border-radius: 55px;
  width: 363px;
  height: 282px;
  position: absolute;
  left: 538px;
  top: 252px;
  object-fit: cover;
}
.l-hn-6-m-495-iy-1 {
  border-radius: 55px;
  width: 363px;
  height: 282px;
  position: absolute;
  left: 945px;
  top: 93px;
  object-fit: cover;
}
.arrow-1 {
  width: 62px;
  height: 0px;
  position: absolute;
  left: 1313px;
  top: 3317px;
  overflow: visible;
}
